<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="self.yang.application">

    <!--使用蓝牙需要权限-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--使用、扫描和设置需要权限-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--Android 6.0以上声明一下两个权限之一即可。声明位置权限，不然扫描或者发现蓝牙功能用不了哦-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--静默开启蓝牙，追加权限-->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DisplayMessageActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>